<p>

  This course, run by the Sydney Informatics Hub, will use the Data Carpentry Geospatial curriculum. It will focus on teaching researchers to use geospatial data for their own analyses in the R programming language.
</p>

<p>
  The <a href="{{site.sih_site}}">Sydney Informatics Hub</a>
  is a Core Research Facility of the University of Sydney. SIH provides support, training, and expertise on research data, analyses
  and computing for research staff, students and affiliates of the University. We deliver policies, systems, advice, engineering and
  training to research staff, students and affiliates of the University.


</p>
