<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-shell">Introduction to Geospatial Concepts</h3>
    <ul>
     <li>What format should I use to represent my data? </li>
     <li>What are the main data types used for representing geospatial data? </li>
     <li>What are the main attributes of raster data?</li>
     <li>What are the main attributes of raster data?</li>
     <li>What are the main attributes of vector data?</li>
     <li>What is a coordinate reference system and how do I interpret one?</li>
     <li>What programs and applications are available for working with geospatial data?</li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3 id="syllabus-python">Geospatial Raster and Vector Data with R</h3>
    <ul>
 <li>Intro to Raster Data in R </li>
 <li>Plot Raster Data in R</li>
 <li>Reproject Raster Data in R</li>
 <li>Raster Calculations in R</li>
 <li>Work With Multi-Band Rasters in R</li>
 <li>Open and Plot Shapefiles in R</li>
 <li>Explore and Plot by Shapefile Attributes</li>
 <li>Plot Multiple Shapefiles in R</li>
 <li>Handling Spatial Projection & CRS in R</li>
 <li>Convert from .csv to a Shapefile in R</li>
 <li>Manipulate Raster Data in R</li>
 <li>Raster Time Series Data in R</li>
 <li>Create Publication-quality Graphics</li>
 <li>Derive Values from Raster Time Series</li>
    </ul>
  </div>
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Programming in R</h3>
    <ul>
      <li>Working with vectors and data frames</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Using R from the command line</li>
      <li><a href="{{site.swc_pages}}/r-novice-inflammation/reference/">Reference...</a></li>
    </ul>
  </div>
  -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-matlab">Programming in MATLAB</h3>
    <ul>
      <li>Working with arrays</li>
      <li>Reading and plotting data</li>
      <li>Creating and using functions</li>
      <li>Loops and conditionals</li>
      <li>Defensive programming</li>
      <li><a href="{{site.swc_pages}}/matlab-novice-inflammation/reference/">Reference...</a></li>
     </ul>
   </div>
   -->
</div>

<!--
<div class="row">
  <div class="col-md-6">
    <h3 id="syllabus-git">Version Control with Git</h3>
    <ul>
      <li>Creating a repository</li>
      <li>Recording changes to files: <code>add</code>, <code>commit</code>, ...</li>
      <li>Viewing changes: <code>status</code>, <code>diff</code>, ...</li>
      <li>Ignoring files</li>
      <li>Working on the web: <code>clone</code>, <code>pull</code>, <code>push</code>, ...</li>
      <li>Resolving conflicts</li>
      <li>Open licenses</li>
      <li>Where to host work, and why</li>
      <li><a href="{{site.swc_pages}}/git-novice/reference/">Reference...</a></li>
    </ul>
</div>
  <div class="col-md-6">
    <h3 id="syllabus-sql">Managing Data with SQL</h3>
    <ul>
      <li>Reading and sorting data</li>
      <li>Filtering with <code>where</code></li>
      <li>Calculating new values on the fly</li>
      <li>Handling missing values</li>
      <li>Combining values using aggregation</li>
      <li>Combining information from multiple tables using <code>join</code></li>
      <li>Creating, modifying, and deleting data</li>
      <li>Programming with databases</li>
      <li><a href="{{site.swc_pages}}/sql-novice-survey/reference/">Reference...</a></li>
    </ul>
  </div>
   -->
  <!--
  <div class="col-md-6">
    <h3 id="syllabus-r">Open Refine</h3>
    <ul>
      <li>Introduction to OpenRefine</li>
      <li>Importing data</li>
      <li>Basic functions</li>
      <li>Advanced Functions</li>
      <li><a href="{{site.lc_pages}}library-openrefine/reference">Reference...</a></li>
    </ul>
  </div>
</div>
-->
